/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Raleway:wght@100&display=swap');


:root {
  --primary-color: #A1B36A;
  --secondary-color: rgb(242, 244, 237);
  --dark-color: #333;
  --neutral-brown: #ae8346;
  --dark-brown: #9f5f07;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
  font-family: "Raleway",sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  
}
/* h3 {
  color: var(--dark-brown);
} */

p {
  margin: 10px 0;
}

img {
  width: 100%;
}
/* Navbar */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}
.navbar .flex {
  justify-content: space-between;
}
.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px #d5e2ed solid;
}




/* Showcase / Hero */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color:#fff;
  
  /* position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("https://img.freepik.com/free-photo/selective-focus-shot-fresh-ripe-juicy-grapes-growing-branches-vineyard_181624-35905.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
  /* padding-bottom: 10px; */
}

.showcase::before,.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: 270px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  /* webkits for compatibility  */
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
 
}

.showcase p {
  margin: 20px 0;
  
}

.showcase h1,h2 {
  font-size: 50px;
  font-weight: 700;
  color:var(--neutral-brown);
}
/* .showcase h2 {
  /* color:var(--neutral-brown); }*/
  

.showcase .showcase-form h2 {
  font-weight: 700;
}


.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
  
  
}

.showcase-form {
  position: relative;
  top: 60px; 
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}
.showcase-form .form-control {
  margin: 30px 0;
  
}
.showcase-form input[type="text"],
.showcase-form input[type="email"]
{ 
  background-color: var(--dark-color);
  border: 0px;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 3px;
  font-size: 16px;
  color: #fff;
}
.showcase-form input:focus {
  outline: none;
  color: #fff;
}


.showcase .grid {
  box-shadow: #333 0px 5px 15px;
  border-radius: 5px;
  background: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:linear-gradient(rgba(161,179,106,0.1),rgba(161,179,106,0.9)),url("https://img.freepik.com/free-photo/grape-cluster-black-bucket-wooden-surface-close-up_176474-6044.jpg");
}
.showcase .grid .card {
  background-color: #333;
  box-shadow: #333 0px 5px 15px;
  animation: slideInFromRight 1s ease-in;
}



/* stats */

.stats {
  padding-top: 100px;
  background-image: linear-gradient(to top,rgba(255, 247, 249, 0.8),rgb(255, 255, 255)), url(https://t4.ftcdn.net/jpg/02/15/48/33/360_F_215483345_cFPXb3f8gZ2GOJZ1nQl53TpWZL6IUOXw.jpg);
  background-size:cover;
}

.stats .stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid-3  i{
  color: var(--dark-color);
}
.stats .grid-3 > * {
  background-color: #fff;
  padding: 60px;
  border-radius: 10px;
  transform: rotate(0deg);
  /* border: 0.5px solid #A1B36A; */
  /* box-shadow: #A1B36A 0px 5px 5px; */
  box-shadow: rgba(161, 179, 106, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
  /* opacity: 0.9; */
}

.stats .grid-3 h3 {
  font-size: 35px;
  font-weight: bold;
  
}

.stats .grid-3 img {
  margin-bottom: 20px;
  border-radius: 4px;
}

/* Wine Types  */

.Winetypes .grid {
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  /* background-color: var(--primary-color); */
  background-image:linear-gradient(rgba(255, 255, 255, 0.9),rgba(243, 245, 236, 0.9)),url("../images/front-view-wine-glasses-fresh-grapes-walnuts-yellow-cheese-wood-board-overturned-bottle-dark-background_140725-144998.jpg");
  background-size: cover; 
  /* border-top-right-radius: 100px; */
  border-top-left-radius: 150px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Winetypes .card {
  color: var(--dark-color);
  background-color: #fff;
  box-shadow: rgba(161, 179, 106, 0.2) 0px 2px 5px -1px, rgba(161, 179, 0, 0.5) 0px 1px 3px -1px;
  
}

/* Specify the first element within grid only e.g the image*/
.Winetypes .grid > *:first-child {
  grid-column: 1 / span 2; 
  grid-row: 1 / span 2;
  margin: 80px 10px;
  border: solid 25px #fff;
  width: 80%;
  transform: rotate(-5deg);
  
} 

.Winetypes img:nth-child(2) {
  position:absolute;
  top: 1100px;
  left: -60px;
  transform: scale(.5);
}

.Winetypes h3 {
  color: var(--dark-brown);
}
/* spread the image over 2 columns */

.credits {
  background-color: var(--primary-color);
  height: 100px;
  color: #fff;
}




/* White Wine */

.features-head  {
  height: auto;
  
}
.features-head .grid {
 
  background-size: cover;
  background-image: linear-gradient(to bottom left, rgba(255,255,255,0.8), 90% ,rgba(255,255,255,0.2)),url("https://images.unsplash.com/photo-1556395676-1925d260d81b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
}
.features-head h1 {
  color: var(--neutral-brown);
}

.features-head img {
  border-left: 3px solid var(--neutral-brown);
}



/* Wine Specifics */
.specifics .grid  >*:nth-child(odd)  {
  background-color: var(--secondary-color);

}

.specifics h3 {
  color: var(--dark-brown);
}

.specifics .grid img {
  border-radius: 1000px;
}


/* History Redwines */

.redwine-headline {
 
  background-repeat: no-repeat;
  background-blend-mode:color-dodge;
  background-image: url("https://cdn-prod.medicalnewstoday.com/content/images/articles/300/300854/red-wine.jpg");
}

.redwine-headline .grid {
  grid-template-columns: 60% 40%;
  overflow:hidden;
}

.history,
.redwine-headline h1,h2,h3 {
  color: var(--dark-brown);
}

.history .card {
  color:#333;
}

.history .grid {
  grid-template-columns: 1fr 2fr;
  align-items:flex-start;
}

/* All (adjust) bullet points */
.history .card .p2 i {
  color:var(--primary-color);
  padding-right:10px;
  font-size: 16px;
  padding-left:10px;
  
}
/* Purification icon */
.history .card span i {
 color:var(--primary-color);
 font-size:40px;
 padding-right:10px;
}

.history li {
  background-color: var(--secondary-color);
}

.history nav li {
  font-size:17px;
  padding: bottom 2px;
  margin-bottom:5px;
  
}

.history nav a:hover {
  color: var(--primary-color);
}

.redwine-headline img {
  animation: fadeIn 5s;
}



/* Utils */

.bg-primary {
  background: var(--primary-color);
}

.bg-secondary {
  background: var(--secondary-color);
}
.green-box-shadow {
  box-shadow: rgba(161, 179, 106, 0.2) 0px 2px 5px -1px, rgba(161, 179, 0, 0.5) 0px 1px 3px -1px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}



.card {
  padding: 20px;
  border-radius: 15px;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  margin: 10px;
  /* filter: blur(8px); */
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(1.1);
}
.btn-primary {
  background: var(--primary-color);
}
.btn-outline {
  /* background: var(--dark-color);
  opacity: 0.9; */
  background-color:transparent;
  border: 1px #fff solid; 
}

.btn-dark {
  color: var(--dark-color);
  /* background: var(--dark-brown); */
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}



/* buffer section */

.buffer {
  height: 100px;
  background-color: #fff;
}

/* Margins utils  */
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* padding-bottom: 20px; */
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Typography */

.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size:4rem;
}

.xxl {
  font-size:8rem;
}

.text-center {
  text-align: center;
}

/* Footer */
/* ************** */

footer {
  background-color: var(--dark-color);
  color: #fff;
  border-top: 20px solid var(--primary-color);
  background-size: cover;
  background-image: url("../images/cool-background.png");
}
 .footer a {
  color: #fff;
  opacity: 0.5;
  background-color: var(--dark-color);
}

.footer h1 {
  color: var(--neutral-brown);
}

.footer .grid >*{
  justify-self: center;
}


/* Animations */
@keyframes slideInFromLeft{
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight{
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity:1;
  }
}
/* Media Queries -> RESPONSIVE SECTION */


/* Tablets & under */

@media (max-width: 768px) {
  /* Anything under 768px */
  .grid,
  .showcase .grid,
  .stats .grid,
  .Winetypes .grid,
  .farmland .grid,
  .redwine-headline .grid,
  .history .grid,
  .footer .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .Winetypes .grid >* {
    grid-column: 1;
  }
  .showcase {
    height:auto;
  }
  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }
  
  .features-head img {
    display:none;
}


}






/* Mobile */

@media (max-width: 500px) {
  /* Anything under 500px mobile */
  .navbar {
    height: 110px;
  }
  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0,0,0,0.1)
  }

}

@media (min-width: 1500px) {
  .showcase::before,.showcase::after {
    bottom: 450px;
    
   
  }
}